@import url(variables.css);

/* Reset básico */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
  margin: 0;
  background: #0d1117;
  color: #58a6ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  border: 3px solid #58a6ff;
  padding: 2rem 4rem;
  border-radius: 15px;
  box-shadow: 0 0 25px #58a6ff;
}

#data {
  font-size: 5.8rem;
  margin-bottom: 1rem;
}

#hora {
  font-size: 10rem;
  font-weight: bold;
}